:root{
    --corSecundaria: #794529;
}
body{
    background-color: #ffd300;
    background-image: linear-gradient(180deg, #ff7200 34%, #fff200 100%);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}
header{
    margin-bottom: 30px;
}
.logo{
    margin: 60px auto 20px auto;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background: var(--corSecundaria) url(img/logo.jpg) no-repeat center center;
    background-size: 120px;
}
.name{
    font: 1.3rem 'Inter', sans-serif;
    font-weight: 600;
}
.subtitle{
    width: 70%;
    max-width: 500px;
    margin: 10px auto 0 auto;
}
#container{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#container>.item-container{
    border-radius: 8px;
    padding: 13px 13px 13px 15px;
    margin-bottom: 15px;
    width: 90%;
    max-width: 700px;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    background-color: #723d20;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.418);
}
#container>.item-container:hover{
    background-color: #572d17;
}
.vendedor{
    list-style: none;
}
footer{
    margin: 15px 0px 15px 0px;
}
.item-footer{
    text-decoration: none;
}
.icone{
    color: rgb(255, 115, 0);
    font-size: 1.8rem;
    padding-right: 20px;
    text-decoration: none;
}